---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import Briefcase from "../icons/Briefcase.astro";
---

<Layout
  title="Michael Gonzaelez Portfolio - Web Developer"
  description="Contrata a Michael para crear aplicaciones y paginas web"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        src="https://avatars.githubusercontent.com/u/62442141?v=4"
        alt="mike foto"
        class="rounded-full w-12 h-12 mb-4"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola Soy Michael <a
          href="https://www.linkedin.com/in/michael-steven-gonzalez-5a6518122"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><div class="flex justify-center items-center">
            <Badge>Disponible para trabajar</Badge>
          </div>
        </a>
      </h1>
      <p class="text-2xl text-wrap max-w-[700px]">
        Soy un apasionado desarrollador Full-Stack de Colombia interesado en
        Desarrollo web frontend y backend. Construyo Aplicaciones web basadas en
        JavaScript/TypeScript, tengo experiencia con tecnologías como React (con
        Redux),Python, Express, SQL (Postgres), NoSQL (MongoDB) y Git.
      </p>
      <nav class="flex gap-4 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/michael-steven-gonzalez-5a6518122/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Mike2020x">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:procesoimmichael@gmail.com">
          <MailIcon class="size-4 lg:size-6" />
          procesoimmichael@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Proyectos
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
